{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title_block %} {% endblock %} - SkyView</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
  </head>

  <body>
    <nav>
      <div>
        <a href="{% url 'website:home' %}">Home</a>
        <a href="{% url 'website:feed' %}">Feed</a>
        <a href="{% url 'website:planets' %}">Planets</a>
        {% if user.is_authenticated %}
          <a href="{% url 'website:create_post' %}">Create Post</a>
          <a href="{% url 'website:user_profile' %}">Profile</a>
          <a href="{% url 'website:logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'website:signUp' %}">Sign Up</a>
          <a href="{% url 'website:login' %}">Login</a>
        {% endif %}
      </div>
    </nav>

    {% block full_width %} 
    {% endblock %}

    <main>
      {% block body_block %} 
      {% endblock %}
    </main>
  </body>
</html>
