{% extends 'SkyView/base.html' %} 
{% load staticfiles %} 

{% block title_block %}
    Create Post 
{% endblock %} 

{% block body_block %}
<div class="content">
  <div class="opacityBg"></div>
  <div class="textBox">Create a Post</div>
  <form method="post" action="{% url 'website:create-post' %}">
    {% csrf_token %} 
    {% for hidden in form.hidden_fields %} 
        {{ hidden }} 
    {%endfor %} 
    {% for field in form.visible_fields %} 
        {{ field.errors }} 
        {{ field.help_text }} 
        {{ field }} 
    {% endfor %}
    <input type="submit" name="submit" value="Create Post" />
  </form>
</div>
{% endblock %}
