<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}

<head>
    <meta charset="utf-8" />
    <title>SkyView</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div id="navbar">
        <div class="opacityBg"></div>
        <a href="\"><div class="textBox button">Home</div></a>
        <a href="\Planet\"><div class="textBox button">Planets</div></a>
        <a href="\SignIn\"><div class="textBox button">Sign In</div></a>
        <a href="\SignUp\"><div class="textBox button">Sign Up</div></a>
    </div>

    <div class="content" id="feed">
        <div class="opacityBg"></div>

        <!-- for all discussions in-->
        <div class="textBox" style="margin-left:3%;">Feed</div>
        <div class="feedBox">
            <div class="item" style="position:relative">
                <img class="pfp" src="{% static 'images/pfp.png' %}" />
                <div class="post">
                    <h3 class="textBox">{post.title}</h3>
                    <p class="textBox">{post.content}</p>
                </div>
            </div>
        </div>
        <div class="feedBox">
            <div class="item" style="position:relative">
                <img class="pfp" src="{% static 'images/pfp.png' %}" />
                <div class="post">
                    <h3 class="textBox">{post.title}</h3>
                    <p class="textBox">{post.content}</p>
                </div>
            </div>
        </div>

    </div>

</body>

</html>