{% extends 'SkyView/base.html' %} 
{% load staticfiles %} 
{% block title_block %}
    Feed 
{% endblock %} 

{% block body_block %}
<div class="content" id="feed">
  <div class="opacityBg"></div>

  <!-- for all discussions in-->
  <div class="textBox" style="margin-left: 3%">Feed</div>
  <div class="feedBox">
    <div class="item" style="position: relative">
      <img class="pfp" src="{% static 'images/pfp.png' %}" />
      <div class="post">
        <h3 class="textBox">{post.title}</h3>
        <p class="textBox">{post.content}</p>
      </div>
    </div>
  </div>
  <div class="feedBox">
    <div class="item" style="position: relative">
      <img class="pfp" src="{% static 'images/pfp.png' %}" />
      <div class="post">
        <h3 class="textBox">{post.title}</h3>
        <p class="textBox">{post.content}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
