{% extends 'SkyView/base.html' %} 
{% load staticfiles %} 
{% load website_template_tags %}

{% block title_block %}
    Start Your Journey 
{% endblock %} 

{% block body_block %}

{% planets_carousel %}

<div class="content" id="feed">        
    <div class="opacityBg"></div>
    <a href="\Feed\"><div class="textBox" style="margin-left:3%;">Feed</div></a>
    {% for post in recentPosts %}
       {% feedItem post.slug %}
    {% endfor %}
</div>

<div id="nasaPictureContainer">
</div>
<script type="module" src="{% static 'scripts/nasaPictureOfTheDay.js' %}"></script>
{% endblock %}
