<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>SkyView</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <div id="navbar">
        <div class="textBox button">Home</div>
        <div class="textBox button">Planets</div>
        <div class="textBox button">Sign In</div>
        <div class="textBox button">Sign Up</div>
    </div>

    <div id=" carousel">

    </div>

    <div class="content" id="feed">
        <div class="textBox" style="margin-left:5%;">Feed</div>
        <div class="feedBox"> </div>

    </div>

    <div id="pictureBox">
        <img id="nasaPicture" />
    </div>
</body>
</html>