{% extends 'SkyView/base.html' %} 
{% load staticfiles %} 
{% load website_template_tags %}

{% block title_block %}
    Start Your Journey 
{% endblock %} 

{% block full_width %}
    {% planets_carousel %}
{% endblock %}


{% block body_block %}
  
<h2>Feed</h2>
{% for post in recentPosts %}
    {% feedItem post.slug %}
{% endfor %}
<div class="center-contents">
    <a class="button button-large" href="{% url 'website:feed' %}">View All Posts</a>
</div>

<h2>NASA Picture of the Day</h2>
<div id="nasaPictureContainer"></div>
<script type="module" src="{% static 'scripts/nasaPictureOfTheDay.js' %}"></script>

{% endblock %}
