{% extends 'SkyView/base.html' %} 
{% load staticfiles %} 

{% block title_block %}
  Login 
{% endblock %} 

{% block body_block %}

<h1 class="heading-large">Login to SkyView</h1>
 
<form
  class="formplace"
  id="login_form"
  method="post"
  action="{% url 'website:login' %}"
>
  {% csrf_token %}

  <label>Username</label>
  <input type="text" name="username" value="" size="50" />

  <label>Password</label>
  <input
    type="password"
    name="password"
    value=""
    size="50"
  />

  <button class="button button-large">Login</button>
</form>

{% endblock %}
