{% extends 'SkyView/base.html' %} 
{% load staticfiles %} 
{% block title_block %}
    {{ planet.name }} 
{% endblock %} 

{% block body_block %}
<div id="planetImg" src="{{ planet.image }}"></div>
<div class="content">
  <div class="opacityBg"></div>
  <table>
    <tr>
      <th>Mass</th>
      <td>{{mass}}</td>
    </tr>
    <tr>
      <th>Diameter</th>
      <td>{{diameter}}</td>
    </tr>
    <tr>
      <th>Volume</th>
      <td>{{volume}}</td>
    </tr>
    <tr>
      <th>Gravity</th>
      <td>{{gravity}}</td>
    </tr>
    <tr>
      <th>Temperature</th>
      <td>{{averageTemperature}}</td>
    </tr>
    <tr>
      <th>Moons</th>
      <td>{{numberOfMoons}}</td>
    </tr>
    <tr>
      <th>Average Distance from Sun</th>
      <td>{{averageDistanceFromSun}}</td>
    </tr>
    <tr>
      <th>Length of One Day</th>
      <td>{{lengthOfDay}}</td>
    </tr>
    <tr>
      <th>Length of One Year</th>
      <td>{{lengthOfYear}}</td>
    </tr>
    <tr>
      <th>Atmosphere</th>
      <td>{{contentsOfAtmosphere}}</td>
    </tr>
    <tr>
      <th>Water</th>
      <td>{{water}}</td>
    </tr>
    <tr>
      <th>Specialties</th>
      <td>{{specialties}}</td>
    </tr>
  </table>
</div>
{% endblock %}
