{% extends 'SkyView/base.html' %} 
{% load staticfiles %} 
{% load website_template_tags %}

{% block title_block %}
    {{ planet.name }} 
{% endblock %} 

{% block body_block %}
<h1>{{ planet.name }}</h1>
<img id="planetImg" src="{{ planet.image.url }}"/>
<div class="content">
  <div class="opacityBg"></div>
  <table>
    <tr>
      <th>Mass</th>
      <td>{{ statistics.mass }}</td>
    </tr>
    <tr>
      <th>Diameter</th>
      <td>{{ statistics.diameter }}</td>
    </tr>
    <tr>
      <th>Volume</th>
      <td>{{ statistics.volume }}</td>
    </tr>
    <tr>
      <th>Gravity</th>
      <td>{{ statistics.gravity }}</td>
    </tr>
    <tr>
      <th>Temperature</th>
      <td>{{ statistics.averageTemperature }}</td>
    </tr>
    <tr>
      <th>Moons</th>
      <td>{{ statistics.numberOfMoons }}</td>
    </tr>
    <tr>
      <th>Average Distance from Sun</th>
      <td>{{ statistics.averageDistanceFromSun }}</td>
    </tr>
    <tr>
      <th>Length of One Day</th>
      <td>{{ statistics.lengthOfDay }}</td>
    </tr>
    <tr>
      <th>Length of One Year</th>
      <td>{{ statistics.lengthOfYear }}</td>
    </tr>
    <tr>
      <th>Atmosphere</th>
      <td>{{ statistics.contentsOfAtmosphere }}</td>
    </tr>
    <tr>
      <th>Water</th>
      <td>{{ statistics.water}}</td>
    </tr>
    <tr>
      <th>Specialties</th>
      <td>{{ statistics.specialties }}</td>
    </tr>
  </table>

  <section>
    <h2>Posts about {{ planet.name }}</h2>
    {% for post in posts %}
       {% feedItem post.slug %}
    {% endfor %}
  </section>
</div>
{% endblock %}
