{% extends 'SkyView/base.html' %} 
{% load staticfiles %} 
{% load website_template_tags %}

{% block title_block %}
    {{ heading }}
{% endblock %} 

{% block body_block %}
<div class="content" id="feed">
    <div class="opacityBg"></div>
    <div class="feedBox">
        <div class="item" style="position:relative">
            <img class="pfp" src="{% static 'images/pfp.png' %}" />
            <div class="post">
                <h3 class="textBox">{{heading}}</h3>
                <p class="textBox">{{body}} </p>
                <!--if post has image-->
                <img src="{{ image }}" style="display:inline-block" />
            </div>
            <!--if comments exist: for all comments in-->
            {% for comment in comments %}
                {% comment comment.id %}
            {% endfor %} 
        </div>
    </div>
</div>
{% endblock %}
