{% extends 'SkyView/base.html' %} 
{% load staticfiles %} 
{% load website_template_tags %}

{% block title_block %}
    {{ heading }}
{% endblock %} 

{% block body_block %}
<div class="content" id="feed">
    <div class="opacityBg"></div>
    <div class="feedBox">
        <div class="item" style="position:relative">
            <img class="pfp" src="{% static 'images/pfp.png' %}" />
            <div class="post">
                <h3 class="textBox">{{heading}}</h3>
                <p class="textBox">{{body}} </p>
                {% if user.is_authenticated %}
                    <button 
                        onClick="likePost({ 
                            likeAPILocation: '{% url 'website:like_post' slug %}', 
                            userId: {{ user.id }}, 
                            csrfToken: '{{ csrf_token }}'
                        })" 
                        id="like-button"
                    >
                        {% if userLikedPost %}
                            Unlike Post
                        {% else %}
                            Like Post
                        {% endif %}
                    </button>   
                {% endif %}
                
                {% if image %}
                    <img src="{{ image.url }}" style="display:inline-block" />
                {% endif %}
            </div>
            <!--if comments exist: for all comments in-->
            {% for comment in comments %}
                {% comment comment.id %}
            {% endfor %} 

            <a href="{% url 'website:create_comment' slug %}">Add Comment</a>
        </div>
    </div>
</div>
<script type="module" src="{% static 'scripts/likePost.js' %}"></script>
{% endblock %}
