{% extends 'SkyView/base.html' %}
{% load staticfiles %}
{% load website_template_tags %}

{% block title_block %}
    My Profile
{% endblock %}

{% block body_block %}
  <h1 class="heading-large">My Profile</h1>

  <div class="center-contents">
    <img 
      alt="{{ user.username }}'s Profile Picture" 
      {% if user.picture %}
        src="{{ user.picture.url }}" 
      {% else %}
        src="{% static 'images/pfp.png' %}"
      {% endif %}
      class="profile-image"
    />
  
    <h2>Username: {{ user.username }}</h2>
    <h2>Email: {{ user.email }}</h2>
    {% if user.website %}
      <h2>Website: {{ user.website }}</h2>
    {% endif %}
  </div>

  <h2>Your Posts</h2>
  {% if not userPosts %}
      <h3>You haven't created any posts yet</h3>
  {% else %}
      {% for post in userPosts %}
        {% feedItem post.slug %}
      {% endfor %}
  {% endif %}
{% endblock %}
