<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>SkyView</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="navbar">
        <div class="opacityBg"></div>
        <a href="\"><div class="textBox button">Home</div></a>
        <a href="\Planet\"><div class="textBox button">Planets</div></a>
        <a href="\SignIn\"><div class="textBox button">Sign In</div></a>
        <a href="\SignUp\"><div class="textBox button">Sign Up</div></a>
    </div>

    <div>



    </div>

</body>

</html>