{% extends 'SkyView/base.html' %} 
{% load staticfiles %} 
{% block body_block %}

{% if registered %}
  <h1 class="heading-large">Welcome to the Team!</h1>
{% else %}
  <h1 class="heading-large">Join the Community!</h1>
  <form
    class="formplace"
    id="user_form"
    method="post"
    action="{% url 'website:signUp' %}"
    enctype="multipart/form-data"
  >
    {% csrf_token %}

    
    {{ user_form.as_p }} 
    {{ profile_form.as_p }}

    <button class="button button-large">Sign Up</button>
  </form>
{% endif %}

{% endblock %}
