<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>
    <meta charset="utf-8" />
    <title>SkyView: Sign In</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>

    <div id="navbar">
        <div class="opacityBg"></div>
        <a href="\"><div class="textBox button">Home</div></a>
        <a href="\Planet\"><div class="textBox button">Planets</div></a>
        <a href="\SignIn\"><div class="textBox button">Sign In</div></a>
        <a href="\SignUp\"><div class="textBox button">Sign Up</div></a>
    </div>
    <!-- Heading could go here -->


    <div class="content">
        <div class="opacityBg"></div>
        <!-- add sign in code here -->



    </div>

</body>

</html>