<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>
    <meta charset="utf-8" />
    <title>SkyView: Sign In</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>

    <div id="navbar">
        <div class="opacityBg"></div>
        <ul style="margin:auto;">
            <li class="textBox button"><a href="{% url 'website:home' %}">Home</a></li>
            <li class="textBox button"><a href="{% url 'website:feed' %}">Feed</a></li>
            <li class="textBox button"><a href="{% url 'website:planet' %}">Planets</a></li>
            {% if user.is_authenticated %}
            <li class="textBox button"><a href="{% url 'website:logout' %}">Logout</a></li>
            <li class="textBox button"><a href="">Post</a></li>
            {% else %}
            <li class="textBox button"><a href="{% url 'website:signUp' %}">Sign Up</a></li>
            <li class="textBox button"><a href="{% url 'website:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <!-- Heading could go here -->


    <div class="content">
        <div class="opacityBg"></div>
        <!-- add sign in code here -->



    </div>

</body>

</html>