{% load staticfiles %}

<div class="background-section feed-post">
  {% if post.user.picture %}
    <img
      class="profile-image"
      src="{{ post.user.picture.url }}"
      alt="{{ post.user.username }}'s Profile Image"
    />
  {% else %}
    <img
      class="profile-image"
      src="{% static 'images/pfp.png' %}"
      alt="{{ post.user.username }}'s Profile Image"
    />
  {% endif %}

  <a href="{% url 'website:view_post' post.slug %}">
    <div>
      <h3>{{ post.heading }}</h3>
      <p>{{ post.body }}</p>
    </div>
  </a>
</div>
